
.login-section {
    padding-top: 30px;
    figure {
        width: 80px;
        margin: auto;
    }
    h1 {
        font-weight: 700;
    }
    form {
        padding-top: 30px;
    }
    p {
        margin-top: 10px;
        font-weight: 200;
    }
}